<footer class="page-footer blue lighten-1">
  <div class="footer-copyright black">
    <div class="container">
      All articles belong to <a href='https://www.mountainproject.com/' target="_blank">Climbing Magazine</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>